{% extends "layout.html" %} <!--heredo del layout-->
{% block title %}Ejemplo Proyecto{% endblock %}
{% block head %}
  {{ super() }} <!--toma la cabecera del padre (layout)-->
{% endblock %}
{% block content %} <!-- redefino -->
        {% if contenido == "Argentina" %}
            <h1>La Ciudad Autonónoma de Buenos Aires es la capital de {{contenido}} <h1>
        {% else %}
            <h1>Hola {{contenido}} !!<h1>
        {% endif %}
        <a href="{{url_for('issues.issue_index')}}"> Issues </a>
{% endblock %}